@import 'nav';


// variables
$purpleColour: #b5a6ff;
$margin: 10px;
$mediumScreen: 400px;

body {
    background-color: $purpleColour;
}

.paragraph {
    color: complement($purpleColour);
}

// a:hover {
//     color: darken($purpleColour, 40%);
// }

a {
    &:hover {
        color: darken($purpleColour, 40%);
    }
    &::after {
        clear: both;
    }
}

.card {
    background-color: white;
    border: 2px solid $purpleColour;

// nesting

    .cardBody {
        color: $purpleColour;
        text-align: right;

            .cardTitle {
                font-style: 2em;

                    img {
                        max-width: 50px;
                    }
            }
    }
}

.card .cardBody {
    color: $purpleColour;
    text-align: center;
}

// mixins

@mixin divStyle {
    border: 10px solid black;
    float: left;
    text-align: center;
}

.div1 {
    @include divStyle;
    color: red;
}

.div2 {
    @include divStyle;
    color: blue;
}
