@import 'variables';
@import 'mixins';

@import 'grid';

@import 'nav';


body {
    background-color: $purpleColour;
    @include clear;
}

.paragraph {
    color: complement($purpleColour);
    @include clear;
}

// a:hover {
//     color: darken($purpleColour, 40%);
// }

a {
    &:hover {
        color: darken($purpleColour, 40%);
    }
    &::after {
        clear: both;
    }
}

.card {
    background-color: white;
    border: 2px solid $purpleColour;

// nesting

    .cardBody {
        color: $purpleColour;
        text-align: right;

            .cardTitle {
                font-style: 2em;

                    img {
                        max-width: 50px;
                    }
            }
    }
}

.card .cardBody {
    color: $purpleColour;
    text-align: center;
}


.div1 {
    @include divStyle;
    color: red;
}

.div2 {
    @include divStyle;
    color: blue;
}
